---
title: "NIST CAD Models - Test Case PMI Annotation Browser"
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {% include NISTHeadContent.html %}

    <script type="text/javascript" src="Keshif-master/js/d3.4.2.6.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="Keshif-master/keshif.js" charset="utf-8"></script>
    <script type="text/javascript" src="Keshif-master/js/papaparse.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="Keshif-master/keshif.css" type="text/css">
    <script src="https://use.fontawesome.com/9042025792.js"></script>

    <script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(){
  browser = new kshf.Browser({
  domID: "#PMI_Browser",
  recordName: "PMI Annotations",
  source: {
    dirPath: '',
    fileType: 'csv',
    tables: "CTC-FTC-Test-Cases"
  },
  summaries: [
    {name: "Test Case", panel: "left", catSortBy: "id"},
    {name: "Annotation Type", panel: "left", catSortBy: "id"},
    {name: "PMI Annotation", panel: "middle"},
  ],
  leftPanelLabelWidth: 200,
  middlePanelLabelWidth: 360,
});
});
    </script>
  </head>

  <body>
    {% include NISTBodyHeader.html %}

    <div id="main" class="nist-main">
<H1>MBE PMI Validation and Conformance Testing Project</H1>
<H2>Test Case PMI Annotation Browser</H2>
Before using the test case browser below you should be familiar with the test cases in the
<A HREF="https://www.nist.gov/el/systems-integration-division-73400/mbe-pmi-validation-and-conformance-testing" target="blank">MBE PMI Validation and Conformance Testing Project</A>.  Thumbnails of each Test Case are shown below with links to 2D drawings.
The browser lets you explore in detail the distribution of PMI annotations in the test cases.  For example, you can find the test case with the only line profile tolerance (CTC 2)
or the only parallelism tolerances (FTC 8) or with basic dimensions (CTC 4 and 5) or without any surface or position tolerances (CTC 5).
<p><ul>
<li>A browser for the <A HREF="https://pages.nist.gov/CAD-PMI-Testing/results.html" target="blank">verification testing results</A> is also available.
<li><A HREF="https://www.nist.gov/publications/guide-nist-pmi-cad-models-and-cad-system-pmi-modeling-capability-verification-testing">Guide to the CAD Models and Verification Testing Results</a> (October 2017)
</ul>
<P><BR>
<table style="width:100%"><tbody><tr>
<td align="center"><a href="https://s3.amazonaws.com/nist-el/mfg_digitalthread/nist_ctc_01_asme1_rd.pdf">CTC 1</a>
<br><img alt="PMI Validation Complex Test Case 1" src="https://www.nist.gov/sites/default/files/styles/220_x_220_limit/public/images/2016/09/08/ctc-1_1.jpg" />
</td>
<td align="center"><a href="https://s3.amazonaws.com/nist-el/mfg_digitalthread/nist_ctc_02_asme1_rc.pdf">CTC 2</a> 
<br><img alt="PMI Validation Complex Test Case 2" src="https://www.nist.gov/sites/default/files/styles/220_x_220_limit/public/images/2016/09/08/ctc-2_1.jpg" />
</td>
<td align="center"><a href="https://s3.amazonaws.com/nist-el/mfg_digitalthread/nist_ctc_03_asme1_rc.pdf">CTC 3</a> 
<br><img alt="PMI Validation Complex Test Case 3" src="https://www.nist.gov/sites/default/files/styles/220_x_220_limit/public/images/2016/09/08/ctc-3_1.jpg" />
</td>
<td align="center"><a href="https://s3.amazonaws.com/nist-el/mfg_digitalthread/nist_ctc_04_asme1_rd.pdf">CTC 4</a> 
<br><img alt="PMI Validation Complex Test Case 4" src="https://www.nist.gov/sites/default/files/styles/220_x_220_limit/public/images/2016/09/08/ctc-4_1.jpg" />
</td>
<td align="center"><a href="https://s3.amazonaws.com/nist-el/mfg_digitalthread/nist_ctc_05_asme1_rd.pdf">CTC 5</a> 
<br><img alt="PMI Validation Complex Test Case 5" src="https://www.nist.gov/sites/default/files/styles/220_x_220_limit/public/images/2016/09/08/ctc-5_1.jpg" />
</td></tr>
<tr>
<td align="center"><a href="https://s3.amazonaws.com/nist-el/mfg_digitalthread/nist_ftc_06_asme1_rd.pdf">FTC 6</a> 
<br><img alt="PMI Validation Fully-toleranced Test Case 6" src="https://www.nist.gov/sites/default/files/styles/220_x_220_limit/public/images/2016/09/08/ftc-06.jpg" />
</td>
<td align="center"><a href="https://s3.amazonaws.com/nist-el/mfg_digitalthread/nist_ftc_07_asme1_rd.pdf">FTC 7</a> 
<br><img alt="PMI Validation Fully-toleranced Test Case 7" src="https://www.nist.gov/sites/default/files/styles/220_x_220_limit/public/images/2016/09/08/ftc-07.jpg" />
</td>
<td align="center"><a href="https://s3.amazonaws.com/nist-el/mfg_digitalthread/nist_ftc_08_asme1_rc.pdf">FTC 8</a> 
<br><img alt="PMI Validation Fully-toleranced Test Case 8" src="https://www.nist.gov/sites/default/files/styles/220_x_220_limit/public/images/2016/09/08/ftc-08.jpg" />
</td>
<td align="center"><a href="https://s3.amazonaws.com/nist-el/mfg_digitalthread/nist_ftc_09_asme1_rd.pdf">FTC 9</a> 
<br><img alt="PMI Validation Fully-toleranced Test Case 9" src="https://www.nist.gov/sites/default/files/styles/220_x_220_limit/public/images/2016/09/08/ftc-09.jpg" />
</td>
<td align="center"><a href="https://s3.amazonaws.com/nist-el/mfg_digitalthread/nist_ftc_10_asme1_rb.pdf">FTC 10</a> 
<br><img alt="PMI Validation Fully-toleranced Test Case 10" src="https://www.nist.gov/sites/default/files/styles/220_x_220_limit/public/images/2016/09/08/ftc-10_1.jpg" />
</td>
<td align="center"><a href="https://s3.amazonaws.com/nist-el/mfg_digitalthread/nist_ftc_11_asme1_rb.pdf">FTC 11</a> 
<br><img alt="PMI Validation Fully-toleranced Test Case 11" src="https://www.nist.gov/sites/default/files/styles/220_x_220_limit/public/images/2016/09/08/ftc-11.jpg" />
</td>
</tr></tbody></table>
<H3>Browser</H3>
The browser uses the <A HREF="https://github.com/adilyalcin/Keshif" target="blank">open-source version</A> of <A HREF="https://keshif.me/" target="blank">Keshif</A>, 
a web-based data exploration environment for data analytics.  The data is available on <A HREF="https://github.com/usnistgov/CAD-PMI-Testing" target="blank">GitHub</A>.
There are three frames in the browser: 
<P>
<OL>
<LI><strong>Test Cases</strong> (five CTC and six FTC) contain 421 PMI Annotations.  FTC 7, 10, and 11 were not modeled in any CAD system as part of the project.  
<LI><strong>Annotation Type</strong> classifies PMI Annotation by dimensions, geometric tolerances, datum features, and datum targets.  Dimensions are split into
three categories including dimensions related to holes (counterbore, countersink, depth) and other dimensions (radius, slope, taper, slot).
<LI><strong>PMI Annotations</strong> with multi-line feature control frames (FCF) are displayed on one line.  A "|" delimits the sections of a FCF.  
A "/" delimits mulitple lines of a FCF.  Tolerance zone and datum reference frame modifiers such as a maximum material modifier (letter M in a circle)
appear as the letter bracketed by parentheses, e.g., (M).  Tolerances or dimensions with “(Oriented)” after the FCF means that the tolerance or dimension 
has a specific orientation in a test case drawing.  Other modifiers similar modifiers are: Origin, All Around, and UOS.  UOS means “Unless Otherwise Specified” and
is usually associated with an overall surface profile in the notes.        
</OL>
<P>
Mousing over a text label (e.g. FTC 6 or Position or C1) highlights the bar in orange and associated data in the other frames showing the relationships between the data.
Clicking on the text label filters information in all frames by the selected value.  Clicking on a selected value deselects it.  After one text label has been selected,
more can be selected by clicking 'Or' to the left of a label.  Data can be filtered out by clicking 'Not' to the left of a label.  PMI Annotations can also be filtered with a Search string.
<P>
</div>
      <div id="PMI_Browser"></div>
    {% include NISTPagesFooter.html %}
  </body>
</html>
