---
title: "NIST PMI Annotations"
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>

    <script type="text/javascript" src="Keshif-master/js/d3.4.2.6.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="Keshif-master/keshif.js" charset="utf-8"></script>
    <script type="text/javascript" src="Keshif-master/js/papaparse.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="Keshif-master/keshif.css"/ type="text/css">
    <link rel="stylesheet" href="Keshif-master/font-awesome/css/font-awesome.min.css">

<!--    <script type="text/javascript" src="Keshif-master/demo/js/demo.js" charset="utf-8"></script> -->
<!--    <link rel="stylesheet" href="Keshif-master/demo/css/demo.css" type="text/css"> -->

    <script type="text/javascript">
document.getElementById("NISTstyle").disabled = true;
document.getElementById("NISTpages").disabled = true;
document.addEventListener("DOMContentLoaded", function(){
  browser = new kshf.Browser({
  domID: "#demo_Browser",
  recordName: "PMI Annotations",
  source: {
    dirPath: '',
    fileType: 'csv',
    tables: "CTC-FTC-Test-Cases"
  },
  summaries: [
    {name: "Test Case", panel: "left", catSortBy: "id"},
    {name: "Annotation Type", panel: "left", catSortBy: "id"},
    {name: "PMI Annotation", panel: "middle"},
  ],
  leftPanelLabelWidth: 101,
  middlePanelLabelWidth: 280,
});
});
document.getElementById("NISTstyle").disabled = false;
document.getElementById("NISTpages").disabled = false;

    </script>
  </head>
  <body>
  <link rel="stylesheet" href="/CAD-PMI-Testing/static/css/NISTStyle.css" id="NISTstyle">
	<link rel="stylesheet" href="/CAD-PMI-Testing/static/css/NISTPages.css" id="NISTpages">
  
    {% include NISTBodyHeader.html %}
<div class="field-body field--body nist-body nist--custom-display__content">
<H1><A HREF="http://go.usa.gov/mGVm">MBE PMI Validation and Conformance Testing Project</A></H1>
<H2>PMI Annotations for each Test Case</H2>
<table style="width:100%"><tbody><tr><td><strong><a href="https://www.nist.gov/file/317856">CTC-01</a> </strong>
<p><strong><img alt="PMI Validation Complex Test Case 1" src="https://www.nist.gov/sites/default/files/styles/220_x_220_limit/public/images/2016/09/08/ctc-1_1.jpg" /></strong></p>
</td>
<td><strong><a href="https://www.nist.gov/file/317861">CTC-02</a> </strong>
<p><strong><img alt="PMI Validation Complex Test Case 2" src="https://www.nist.gov/sites/default/files/styles/220_x_220_limit/public/images/2016/09/08/ctc-2_1.jpg" /></strong></p>
</td>
<td><strong><a href="https://www.nist.gov/file/317866">CTC-03</a> </strong>
<p><strong><img alt="PMI Validation Complex Test Case 3" src="https://www.nist.gov/sites/default/files/styles/220_x_220_limit/public/images/2016/09/08/ctc-3_1.jpg" /></strong></p>
</td>
<td><strong><a href="https://www.nist.gov/file/317876">CTC-04 </a> </strong>
<p><strong><img alt="PMI Validation Complex Test Case 4" src="https://www.nist.gov/sites/default/files/styles/220_x_220_limit/public/images/2016/09/08/ctc-4_1.jpg" /></strong></p>
</td>
<td><strong><a href="https://www.nist.gov/file/317881">CTC-05</a> </strong>
<p><strong><img alt="PMI Validation Complex Test Case 5" src="https://www.nist.gov/sites/default/files/styles/220_x_220_limit/public/images/2016/09/08/ctc-5_1.jpg" /></strong></p>
</td>
<td><strong><a href="https://www.nist.gov/file/317886">FTC-06</a> </strong>
<p><strong><img alt="PMI Validation Fully-toleranced Test Case 6" src="https://www.nist.gov/sites/default/files/styles/220_x_220_limit/public/images/2016/09/08/ftc-06.jpg" /></strong></p>
</td>
<td><strong><a href="https://www.nist.gov/file/317896">FTC-08</a> </strong>
<p><strong><img alt="PMI Validation Fully-toleranced Test Case 8" src="https://www.nist.gov/sites/default/files/styles/220_x_220_limit/public/images/2016/09/08/ftc-08.jpg" /></strong></p>
</td>
<td><strong><a href="https://www.nist.gov/file/317901">FTC-09</a> </strong>
<p><strong><img alt="PMI Validation Fully-toleranced Test Case 9" src="https://www.nist.gov/sites/default/files/styles/220_x_220_limit/public/images/2016/09/08/ftc-09.jpg" /></strong></p>
</td>
</tr></tbody></table>
<P>
The display below uses <A HREF="http://keshif.me/">Keshif</A>, an open-source, web-based data exploration environment for data analytics.
<P>
There are three frames in the environment: Test Case, Annotation Type, and PMI Annotation.  Each Test Case (five CTC and three FTC) has PMI Annotations.  Thumbnails of each
Test Case are shown above with links to 2D drawings of the test cases.  Multi-line feature control frames are displayed on one line.  PMI Annotations are
classified by Annotation Type that include dimensions, geometric tolerances, datum features, and datum targets.  Dimensions are split into three categories including dimensions
related to holes and other dimensions.
<P>
Mouse-over a bar highlights that bar in orange and associated data in the other frames.  Clicking on the text label to the left of a bar filters the information in the 
other frames by the selected value.  Multiple values can be selected by clicking the 'Or' to the left of the label.  Data can be filtered out by clicking 'Not' to the 
left of the label.  PMI Annotations can also be filtered with a Search string.
<P>
</div>
      <div id="demo_Browser"></div>
    {% include NISTPagesFooter.html %}
  </body>
</html>
