---
title: "NIST Augmented Reality for Model-Based Product Definitions"
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    {% include NISTHeadContent.html %}

<base target="_blank">
<meta http-equiv='Content-Type' content='text/html;charset=utf-8'/>

<body><font face="sans-serif">
    {% include NISTBodyHeader.html %}
    <div id="main" class="nist-main">
<h3>Visualizing Model-Based Product Definitions in Augmented Reality</h3>
Video of parts with PMI annotations for the paper "Visualizing Model-Based Product Definitions in Augmented Reality".  
Contact: <a href="https://www.nist.gov/people/william-z-bernstein">Bill Bernstein</a>
<p><br></p>
<video width="1000" height="700" controls style='border:1px solid black'>
  <source src="CIE2021-demo-compressed.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>
<p>
<h3>Individual Parts</h3>
<ul><li><a href="https://pages.nist.gov/CAD-PMI-Testing/NIST-AR-box.html">Box</a>
<li><a href="https://pages.nist.gov/CAD-PMI-Testing/NIST-AR-cover.html">Cover</a>
<li><a href="https://pages.nist.gov/CAD-PMI-Testing/NIST-AR-plate.html">Plate</a>
</ul>
</div>
    {% include NISTPagesFooter.html %}
</font></body></html>
